/*
the accessability features I added to the table were: caption and scope.
captions provides definitions for the tables and the scope attribute defines a header as a row or column.

for the form, the accessability features I added were: fieldset, legend, and label.
fieldsets group form elements, legends define a fieldsets, and labels provide descriptions of inputs.
*/
/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}
.wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
caption {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding: 5px 0px 0px;
  font-family: "Caveat Brush", cursive;
}
caption {
  padding: 0px 0px 30px;
}
h2,
caption {
  font-weight: normal;
  color: #000000dd;
  font-size: 28px;
}
header {
  padding-top: 30px;
  height: 200px;
  width: 100%;
  background-image: url("img/Catbg.jpg");
  background-attachment: fixed;
  background-position: 0px -400px;
  background-size: cover;
  background-repeat: no-repeat;
}
/*TABLE*/
table {
  margin-top: 40px;
  table-layout: fixed;
  border-spacing: 0;
  max-width: 100%;
  margin-bottom: 40px;
}
thead {
  margin-top: 20px;
  background-color: #222;
  font-size: 20px;
  text-align: center;
  color: #eee;
}
tbody {
  background-color: #eee;
  font-size: 20px;
  text-align: center;
  color: #222;
}
td {
  padding: 6px;
}
tbody td:nth-child(1),
tbody td:nth-child(4) {
  width: 30%;
}
tbody td:nth-child(2),
tbody td:nth-child(3) {
  width: 20%;
}
tbody tr:nth-child(even) {
  background-color: #ddd;
}
tbody tr:last-child td:nth-child(4) {
  border-radius: 0px 0px 5px 0px;
}
tbody tr:last-child td:nth-child(1) {
  border-radius: 0px 0px 0px 5px;
}
thead th:first-child {
  padding: 4px 0px;
  border-radius: 5px 0px 0px 0px;
}
thead th:last-child {
  border-radius: 0px 5px 0px 0px;
}
/*FORM*/
form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
input,
label,
textarea {
  font-size: 18px;
  width: 100%;
  display: block;
  margin: 0px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: #ddd;
}
form fieldset:first-child input:nth-of-type(1),
form fieldset:first-child input:nth-of-type(2),
form fieldset:first-child label:nth-of-type(1),
form fieldset:first-child label:nth-of-type(2) {
  margin-left: 7.3%;
  display: inline-block;
  width: 40%;
}
textarea {
  resize: none;
}
label {
  padding: 0px;
  margin-top: 12px;
  text-align: center;
  background-color: #fff;
}
input[type="submit"] {
  background-color: #aca3a3;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
input[type="submit"]:hover {
  background-color: #da6276;
}
fieldset {
  display: block;
  border: 0;
  margin-top: 20px;
}
legend {
  display: none;
}
